[Desktop Entry]
Name=Notes
GenericName=Notes
Comment=Write and keep simple local notes
Exec=notes
Icon=io.github.jitendravyas.Notes
Terminal=false
Type=Application
Categories=Utility;Office;
Keywords=notes;notepad;text;memo;write;
StartupNotify=true
StartupWMClass=io.github.jitendravyas.Notes
DBusActivatable=true
