[Desktop Entry]
Name=Snippets
GenericName=Code, Text, and Markdown Scratchpad
Comment=Save code snippets, plain text, and Markdown notes
Exec=notes
Icon=io.github.jitendravyas.Notes
Terminal=false
Type=Application
Categories=Utility;Development;
Keywords=snippets;code;text;markdown;notes;scratchpad;clipboard;bash;python;git;
StartupNotify=true
StartupWMClass=io.github.jitendravyas.Notes
DBusActivatable=true
